Exercise 1 part 1
1. Creating dataframes: Create a DataFrame with three columns: 'Name', 'Age', and 'Score'. Populate it with random data with five
individuals.
2. Indexing and slicing: Set the 'Name' column as the index of the DataFrame created in exercise 1. Then, slice the DataFrame to
display information about individuals with ages greater than 25.
3. Data type conversion: Convert the data type of the 'Score' column to float in the DataFrame created in exercise 1.
4. Grouping and aggregation: Group the DataFrame from exercise 1 by the 'Age' column and calculate the mean score for each
age group. (ensure there is at least 2 Ages that are the same in this dataset)
5. Handling missing data: Introduce some missing values (NaN) in the 'Score' column of the DataFrame from exercise 3. Use the
fillna() function to fill these missing values with the mean score.

In [110]:
import pandas as pd

#Creating a DataFrame manually
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [15, 55, 89, 15, 23],
    'score': [50, 60, 70, None, None],
})

# Indexing 'name'
df = df.set_index('name')
print(df)

         age  score
name
Alice     15   50.0
Bob       55   60.0
Charlie   89   70.0
David     15    NaN
Eve       23    NaN

In [111]:
# Sorting based on age
ages = df[df['age'] > 25]
print(ages)

         age  score
name
Bob       55   60.0
Charlie   89   70.0

In [112]:
# Convert score to float
df['score'] = df['score'].astype(float)
print(df['score'])

name
Alice      50.0
Bob        60.0
Charlie    70.0
David       NaN
Eve         NaN
Name: score, dtype: float64

In [113]:
# Group by age and calculate mean
aged = df.groupby('age').mean()
print(aged)

     score
age
15    50.0
23     NaN
55    60.0
89    70.0

In [114]:
#Fill in the missing pieces
empty = df.fillna(65)
print(empty)

         age  score
name
Alice     15   50.0
Bob       55   60.0
Charlie   89   70.0
David     15   65.0
Eve       23   65.0

Exercise 1 part 2
6. Concatenation: Create another DataFrame with three columns: 'Name', 'Age', and 'Occupation' for five different individuals. Use
concat() to concatenate this new DataFrame with the one from exercise 1.
7. Merging: Create two DataFrames, one with 'ID', 'Name', and 'Age', and the other with 'ID', 'Occupation', and 'Salary'. Use merge()
to merge these DataFrames based on the 'ID' column.
8. Datetime manipulation: Create a DataFrame with a 'Date' column containing date strings in the format 'YYYY-MM-DD'. Use
to_datetime() to convert this column to a datetime format.
9. Renaming columns: Rename the columns in the DataFrame from exercise 8 to 'EventDate' for the 'Date' column and
'EventValue' for another randomly chosen column.
10. Uniqueness: Create a DataFrame with a column containing repetitive values. Use the unique() function to display the unique
values in that column.

In [115]:
#Concatenation
df2 = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [15, 55, 89, 15, 23],
    'occupation': ['student', 'doctor', 'retiree', 'unemployed', 'dentist'],
})

combo = pd.concat([df, df2])
print(combo)

         age  score     name  occupation
Alice     15   50.0      NaN         NaN
Bob       55   60.0      NaN         NaN
Charlie   89   70.0      NaN         NaN
David     15    NaN      NaN         NaN
Eve       23    NaN      NaN         NaN
0         15    NaN    Alice     student
1         55    NaN      Bob      doctor
2         89    NaN  Charlie     retiree
3         15    NaN    David  unemployed
4         23    NaN      Eve     dentist

In [135]:
#Merging

name_age = pd.DataFrame({
    'ID': [123, 124, 125, 126, 127],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [15, 55, 89, 15, 23],
})


salary_occup = pd.DataFrame({
    'ID': [123, 124, 125, 126, 127],
    'occupation': ['student', 'doctor', 'retiree', 'unemployed', 'dentist'],
    'salary': [10000, 20000, 50000, 60000, 70000],
})

merged = pd.merge(name_age, salary_occup, on='ID')
print(merged)

    ID     name  age  occupation  salary
0  123    Alice   15     student   10000
1  124      Bob   55      doctor   20000
2  125  Charlie   89     retiree   50000
3  126    David   15  unemployed   60000
4  127      Eve   23     dentist   70000

In [165]:
#Date
date = pd.DataFrame({'date': ['1995-04-01', '1995-04-02', '1995-04-03', '1995-04-04', '1995-04-05']})

date['date'] = pd.to_datetime(date['date'])
print(date)

        date
0 1995-04-01
1 1995-04-02
2 1995-04-03
3 1995-04-04
4 1995-04-05

In [169]:
date = date.rename(columns={'date': 'EventDate'})
print(date)

   EventDate
0 1995-04-01
1 1995-04-02
2 1995-04-03
3 1995-04-04
4 1995-04-05